:root {
  --neutral--600: #585858;
  --neutral--800: #0a0a0a;
  --neutral--100: white;
  --neutral--500: #929292;
  --yellow-green: #bad33a;
  --neutral--300: #e6e6e6;
  --general--shadow-01: rgba(6, 6, 6, 0.04);
  --neutral--200: #f9f9f9;
  --general--shadow-02: rgba(6, 6, 6, 0.06);
  --general--shadow-03: rgba(6, 6, 6, 0.08);
  --primary--color-1: #ff6871;
  --primary--color-2: #15c6b4;
  --primary--color-3: #ffca43;
  --primary--color-4: #4b84ff;
  --neutral--700: #363636;
  --neutral--400: #d0d0d0;
  --system--green-400: #11845b;
  --system--blue-400: #086cd9;
  --system--blue-300: #1d88fe;
  --system--blue-200: #8fc3ff;
  --system--blue-100: #eaf4ff;
  --system--green-300: #05c168;
  --system--green-200: #7fdca4;
  --system--green-100: #def2e6;
  --system--red-400: #dc2b2b;
  --system--300: #ff5a65;
  --system--red-200: #ffbec2;
  --system--red-100: #ffeff0;
  --system--orange-400: #d5691b;
  --system--orange-300: #ff9e2c;
  --system--orange-200: #ffd19b;
  --system--orange-100: #fff3e4;
  --general--shadow-04: rgba(6, 6, 6, 0.1);
  --general--shadow-05: rgba(6, 6, 6, 0.12);
  --general--shadow-06: rgba(20, 20, 43, 0.24);
  --button-shadow--color-01: rgba(0, 0, 0, 0.06);
}
