---
const creativeVariableName = "Hello, Werld";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{creativeVariableName}</title>
	</head>
	<body>
    <nav>
      <a href="/">ET GO HOME</a>
      <a href="/meh/">AMUSE ME</a>
      <a href="/wut/">WUT?!</a>
    </nav>
		<h1>{creativeVariableName}</h1>
		<h2>This is a second heading</h2>
	</body>
</html>
