---
import Navigation from '../components/Navigation.astro'
const creativeVariableName = "Hello, Werld";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="src/styles/global.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{creativeVariableName}</title>
	</head>
	<body>
		<Navigation />
		<h1>{creativeVariableName}</h1>
		<h2>This is a second heading</h2>
	</body>
</html>
