---
const languages = ['HTML', 'CSS', 'Excel'];
const zero = 0;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			body {
				background-color: #222;
				color: white;
			}
			h1 {
				color: purple;
				font-size: 36px;
			}
			.skillz {
				color: #6667ab;
			}
		</style>
	</head>
	<body>
    <nav>
      <a href="/">ET GO HOME</a>
      <a href="/meh/">AMUSE ME</a>
      <a href="/wut/">WUT?!</a>
    </nav>
		<h1>What is this</h1>
		<h3 class="skillz">Favorite Programming languages 💩</h3>
		<ul>
			{languages.map(lang => <li>{lang}</li>)}
		</ul>
		{zero && <p>I'll never see the light of day</p>}
	</body>
</html>
